.icon1{
	background: url(icon/black/icon1.png);
	display: inline-block;
}
.gear1{
	width: 140px;
	height: 140px;
	background-position: 0 -46px;
}
.gear2{
	width: 280px;
	height: 280px;
	background-position: 0 -208px;
}
.gear3{
	width: 150px;
	height: 150px;
	background-position: -180px -530px;
}
.cone1{
	width: 138px;
	height: 146px;
	background-position: 0 -520px;
}
.cone2{
	width: 150px;
	height: 146px;
	background-position: -6px -835px;
}

.text1{
	width: 720px;
	height: 120px;
	background-position: 0 -700px;
}
.go{
	width: 180px;
	height: 180px;
	background-position: -180px -830px;
}
.cube1{
	width: 165px;
	height: 175px;
	background-position: -390px -830px;
}
.title{
	width: 390px;
	height: 270px;
	background-position: 0 -1040px;
}
.brand{
	width: 630px;
	height: 700px;
	background-position: -500px 0;
}
