.icon1{
	background: url(icon/icon1.png);
	display: inline-block;
}
.gear1{
	width: 140px;
	height: 140px;
	background-position: 0 -46px;
}
.gear2{
	width: 280px;
	height: 280px;
	background-position: 0 -208px;
}
.gear3{
	width: 150px;
	height: 150px;
	background-position: -180px -530px;
}
.cone1{
	width: 138px;
	height: 146px;
	background-position: 0 -520px;
}
.cone2{
	width: 150px;
	height: 146px;
	background-position: -6px -835px;
}

.text1{
	width: 720px;
	height: 120px;
	background-position: 0 -700px;
}
.go{
	width: 180px;
	height: 180px;
	background-position: -180px -830px;
}
.cube1{
	width: 165px;
	height: 175px;
	background-position: -390px -830px;
}
.title{
	width: 390px;
	height: 270px;
	background-position: 0 -1040px;
}
.brand{
	width: 630px;
	height: 700px;
	background-position: -500px 0;
}

/*p2*/
.p2-dec1{
	width: 240px;
	height: 136px;
	background-position: -592px -840px;
}
.p2-dec2{
	width: 171px;
	height: 136px;
	background-position: -860px -840px;
	z-index: 1400;
}
.p2-dec3{
	width: 130px;
	height: 146px;
	background-position: -496px -1020px;
}

.icon2{
	background-image: url(icon/icon2.png);
	display: inline-block;
}
.p2-title{
  width: 351px;
  height: 95px;
  background-position: -135px 0;
  border-top: solid 3px #898989;
}
.p2-black-triangle{
	width: 180px;
	height: 150px;
	background-position: -690px -7px;
}
.p2-green-triangle{
	width: 310px;
	height: 260px;
	background-position: -620px -173px;
}
.p2-3{
/*	width: 609px;
	height: 561px;
	background-position: 0 -164px;
*/
  width: 609px;
  height: 609px;
  background-position: 0 -140px;
}
.p2-triangle{
	width: 474px;
	height: 413px;
	background-position: -79px -777px;
}

/*p3 办卡大厅*/
.card{
	background-image: url(icon/card.png);
	display: inline-block;
}
.i-card1{
	width: 154px;
	height: 100px;
	background-position: 0 -75px;
}
.i-card2{
	width: 160px;
	height: 252px;
	background-position: -243px 0px;
}
.i-card3{
	width: 154px;
	height: 100px;
	background-position: -499px -75px;
}
.p3-tilte3{
	width: 440px;
	height: 128px;
	background-position: -106px -306px;
}
.i-arrow-left{
	width: 132px;
	height: 134px;
	background-position: -33px -626px;
}
.i-arrow-right{
	width: 132px;
	height: 134px;
	background-position: -491px -626px;
}
.i-arrow-middle{
	width: 310px;
	height: 134px;
	background-position: -170px -626px;
}
.i-arrow-left-pressed{
	width: 132px;
	height: 134px;
	background-position: -33px -486px;
}
.i-arrow-right-pressed{
	width: 132px;
	height: 134px;
	background-position: -491px -486px;
}
.i-arrow-middle-pressed{
	width: 310px;
	height: 134px;
	background-position: -170px -486px;
}
.i-red-line{
	width: 486px;
	height: 56px;
	background-position: -717px -14px;
	z-index: 1000;
}
.i-selected-card{
	width: 370px;
	height: 376px;
	background-position: -16px -788px;
}
.i-prize1, .i-prize2, 
.i-prize3, .i-prize4,
.i-prize5, .i-prize6,
.i-prize7, .i-prize8{
	width: 368px;
	height: 213px;
}
.i-title4{
	width: 356px;
	height: 106px;
	background-position: -716px -542px;
}
.i-prize1{
	background-position: -718px -101px;
}
.i-prize2{
	background-position: -718px -333px;
}
.i-prize3{
	background-position: -718px -567px;
}
.i-prize4{
	background-position: -718px -797px;
}
.i-prize5{
	background-position: -718px -1030px;
}
.i-prize6{
	background-position: -718px -1260px;
}
.i-prize7{
	background-position: -718px -101px;
}
.i-prize8{
	background-position: -40px -1224px;
}
.i-prize9{
	width: 167px;
	height: 204px;
	background-position: -457px -800px;
}
.i-prize10{
	width: 167px;
	height: 274px;
	background-position: -457px -1027px;
}

.i-stop-swipe{
	width: 140px;
	height: 76px;
	background-position: -480px -1355px;
}

/*p5*/
/*京东*/
.decr{
	background: url(icon/decrator.png);
	display: inline-block;		
}
.i-dec6{
	width: 64px;
	height: 64px;
	background-position: -25px -21px;
}
.i-dec7{
	width: 214px;
	height: 157px;
	background-position: 0px -107px;
}
.i-dec8{
	width: 150px;
	height: 182px;
	background-position: -14px -275px;
}
.i-dec9{
	width: 138px;
	height: 152px;
	background-position: -276px -8px;
}
.i-dec10{
	width: 112px;
	height: 120px;
	background-position: -292px -184px;
}
.i-dec11{
	width: 152px;
	height: 162px;
	background-position: -273px -319px;
}

.icon3{
	background: url(icon/icon3.png);
	display: inline-block;	
}
.i-droplet{
	width: 392px;
	height: 185px;
	background-position: 0 0;
}
.i-shake-circle{
	width: 546px;
	height: 546px;
	background-position: 0 -286px;
}
.i-jd-reminder{
	width: 456px;
	height: 139px;
	background-position: -20px -864px;
}
.i-jd-quan1, .i-jd-quan2, .i-jd-quan3,
.i-jd-quan4, .i-jd-quan5, .i-jd-quan6{
	width: 544px;
	height: 232px;
}
.i-jd-quan1{
	background-position: -39px -1027px;
}
.i-jd-quan2{
	background-position: -614px 0px;
}
.i-jd-quan3{
	background-position: -614px -257px;
}
.i-jd-quan4{
	background-position: -614px -513px;
}
.i-jd-quan5{
	background-position: -614px -763px;
}
.i-jd-quan6{
	background-position: -614px -1026px;
}

/*金钱结果*/
.result{
	background: url(result/result.png);
	display: inline-block;	
}
.i-tv{
	width: 720px;
	height: 1115px;
	background-position: 0 0;
}
.i-poor{
	height: 110px;
	width: 270px;
	background-position: -800px -37px;
}
.i-go-beauty{
	height: 110px;
	width: 270px;
	background-position: -800px -207px;
}

/*颜值*/
.icon4{
	background: url(icon/icon4.png);
	display: inline-block;	
}
.i-take-photo{
	width: 610px;
	height: 610px;
	background-position: -14px -11px;
}
.i-upload-take-btn{
	width: 420px;
	height: 110px;
	background-position: 0 -1474px;
}
.i-upload-btn{
	width: 226px;
	height: 116px;
	background-position: -23px -685px;
}
.i-takephoto-btn{
	width: 226px;
	height: 116px;
	background-position: -23px -827px;
}
.i-test-face{
	width: 137px;
	height: 137px;
	background-position: -67px -969px;
}
.i-blue-line{
	width: 694px;
	height: 35px;
	background-position: -14px -1155px;
}

/*我是歌手*/
.i-radio{
	width: 622px;
	height: 763px;
	background-position: -649px -15px;
}
.i-sing-reminder{
	width: 457px;
	height: 106px;
	background-position: -648px -792px;
}
.i-radio-wheel1{
	width: 320px;
	height: 320px;
	background-position: -285px -656px;
}
.i-radio-wheel2{
	width: 320px;
	height: 320px;
	background-position: -774px -934px;
}
.i-switch-on{
	width: 190px;
	height: 86px;
	background-position: -267px -1022px;
}
.i-switch-off{
	width: 190px;
	height: 86px;
	background-position: -507px -1022px;
}
.i-wave{
	width: 1210px;
	height: 154px;
	background-position: 0 -1280px;
}
.i-microphone{
	width: 100px;
	height: 354px;
	background-position: -1144px -815px;
}