.icon1{
	background: url(icon/icon.png);
	display: inline-block;
}
.p1-title1{
	width: 465px;
	height: 465px;
	background-position: 0 0;
}

.p1-arrow-down{
	width: 100px;
	height: 84px;
	background-position: 0 -467px;
}
.p1-go{
	width: 170px;
	height: 178px;
	background-position: 0 -560px;
}
.p1-tieba{
	width: 162px;
	height: 58px;
	background-position: 0 -750px;
}

.p2-arrow{
	width: 200px;
	height: 45px;
	background-position: 0 -823px;
}

.p2-card{
	width: 350px;
	height: 222px;
	background-position: -510px 0;
}