*{
	margin: 0;
	padding: 0;
}

.m1{
    position: relative;
}
.m1{
	background: url(bg/bg-black.jpg);
	background-size: 100% auto;
	text-align: center;
}
/*p1*/
#p1 .icon1{
	position: absolute;
}
.brand{
	top: -50px;
	right: 20px;
}
.title{
  top: 320px;
  left: 190px;
}
.text1{
	left: 50%;
	margin-left: -350px;
	top: 700px;
}
.gear1{
	left: 225px;
	top: 85px;
}
.gear2{
	left: 10px;
	top: 140px;
}
.gear3{
	right: 55px;
	top: 550px;
}
.cone1{
	top: 30px;
	right: 114px;
}
.cone2{
	left: 50px;
	bottom: 200px;
}
.go{
	bottom: 160px;
	left: 50%;
	margin-left: -90px;
}
.cube1{
	bottom: 60px;
	right: 60px;
}