*{
	margin: 0;
	padding: 0;
}
body{
	background-color: black;
}
html,body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.m1{
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
}
.m1{
	background: url(bg/bg-black2.jpg);
	/*background-size: 100% auto;*/
	background-size: 1500px auto;
	text-align: center;
	background-color: black;

}
#voice{
  background: url(bg/bg-voice.png);
}

.data-btn{
  position: absolute;
  top: 760px;
  left: 90px;
}
.next-btn{
  height: 55px;
  position: absolute;
  top: 760px;
  left: 180px;
}
.part-result-btn{
  width: 400px;
  position: absolute;
  top: 800px;
  left: 50%;
  margin-left: -200px;  
}

.part-data-btn{
  width: 400px;
  position: absolute;
  top: 750px;
  left: 50%;
  margin-left: -200px;    
}
#user-result .part-data-btn{
  top: auto;
  bottom: 180px;
}
#user-result .part-result-btn{
  top: auto;
  bottom: 50px;
  z-index: 10000;
}

.data-img{
  z-index: 10000;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -600px; 
  display: none; 
}
#user-result .data-btn, #user-result .next-btn{
  top: auto;
  bottom: 110px;
}
/*p1*/
#p1 .icon1{
	position: absolute;
}
.brand{
	top: -50px;
	right: 20px;
}
.title{
  top: 320px;
  left: 165px;
}
.text1{
	left: 50%;
	margin-left: -350px;
	top: 700px;
}

.gear1{
	left: 225px;
	top: 85px;
}
.gear2{
	left: 10px;
	top: 140px;
}
.gear3{
	right: 55px;
	top: 550px;
}
.cone1{
	top: 30px;
	right: 114px;
}
.cone2{
	left: 50px;
	bottom: 200px;
}
.go{
	bottom: 160px;
	left: 50%;
	margin-left: -90px;
}
.go-stere, .go-flat{
  bottom: 160px;
  left: 50%;
  margin-left: -95px;
}
.cube1{
	bottom: 60px;
	right: 60px;
}

/*p2*/
#p2 .icon2{
	position: absolute;
	left: 50%;
}
.p2-title{
	top: 150px;
	margin-left: -175px;
}
.p2-title2{
  top: 150px;
  margin-left: -245px;
}

.p2-triangle{
	top:540px;
	margin-left: -237px;
}
.p2-black-triangle{
  top: 640px;
  margin-left: -90px;
  z-index: 100;
}
.triangle-btn{
  position: absolute;
  width: 220px;
  height: 230px;
  cursor: pointer;
}
.tb1{
  top: 0;
  left: 200px;
}
.tb2{
  top: 380px;
  left: 0;
}
.tb3{
  top: 380px;
  right: -20px;
}
.p2-green-triangle{
  top: 570px;
  margin-left: -155px;
  z-index: 100;
  opacity: 0;
}
.tb2 .hand{
  margin-left: -40px;
}
.hand{
    position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -29px;
}
.p2-3{
	top: 335px;
	margin-left: -304px;
	z-index: 100;
	-webkit-transform-origin: 50% 60%;
}

/*p3*/
.icon1{
	position: absolute;
}
.p2-dec1{
  top: 15px;
  left: -5px;
  z-index: 1000;
}
.p2-dec2{
	right: 30px;
	top: 700px;
}
#p5 .p2-dec2{
  top: 500px;
}
.p2-dec3{
	left: 70px;
	bottom: 50px;
}
#p3 .card, #p4 .card{
	position: absolute;
	left: 50%;
}
.i-red-line{
	top: 60px;
	margin-left: -203px;
}
.p3-tilte3{
	top: 55%;
	margin-left: -220px;
}

.i-arrow-left, .i-arrow-right, .i-arrow-middle{
	bottom: 180px;
}
.i-arrow-left-pressed, .i-arrow-right-pressed, 
.i-arrow-middle-pressed{
	  bottom: 170px;
}
.i-arrow-left, .i-arrow-left-pressed{
	margin-left: -300px;
}
.i-arrow-right, .i-arrow-right-pressed{
	margin-left: 150px;
}
.i-arrow-middle, .i-arrow-middle-pressed{
	margin-left: -167px;
}

/* 办卡动画等 */
.i-selected-card{
  top: 20%;
  margin-left: -185px;
}
.i-card2, .i-card1, .i-card3{
  top: 30%;
  z-index: 100;
}
.i-card2{
  top: 25%;
  margin-left: -77px;
}

.i-card1, .c-card1{
  margin-left: -340px;
}
.i-card3, .c-card3{
  margin-left: 200px;
}

.c-card1, .c-card2, .c-card3{
	position: absolute;
	left: 50%;
	width: 150px;
  	top: 30%;
    transition: margin-left 0.5s;
    transition-timing-function: ease;

}
.c-card2{
	width: 100px;
	top: 27%;
	margin-left: -77px;
}
.selected-card{
	z-index: 100;
	-webkit-transform: scale(1.5);
	margin-left: -75px; 
}
.position1{
	margin-left: -340px;
}
.position3{
	margin-left: 200px;
}
.selected-card.c-card2{
  top: 28%;
  margin-left: -55px;
}


/*p4*/
.i-title4{
	position: absolute;
  top: 20%;
  margin-left: -180px;
}
.i-title42{
  position: absolute;
  top: 180px;
  margin-left: -205px;
}
.posback{
  position: absolute;
  top: 48%;
  left: 50%;
  margin-left: -160px;
}
.pos{
  position: absolute;
  left: 50%;
  margin-left: -172px;
  top: 48%;
}
.pos-text{
  position: absolute;
  width: 300px;
  color: white;
  top: 100px;
  text-align: left;
  left: 80px;
  line-height: 30px;
  font-size: 1.2em;
 }
#play-area{
  position: absolute;
  top: 38%;
  left: 0;
  right: 0;

}
.card1{
  position: absolute;
  /*top: 28%;*/
  left: 10%;
}
.i-prize{
  margin-left: -184px;
  top: -600px;
  z-index: 100000;
}
.i-prize9, .i-prize10{
  margin-left: -84px;
}
.i-stop-swipe{
	position: absolute;
	margin-left: 200px;
	bottom: 50px;
}
.zhongxin-result{
  width: 520px;
  position: absolute;
  top: 200px;
  margin-left: -260px;
  left: 50%;
}
.zhongxin-next{
  width: 200px;
  position: absolute;
  top: 760px;
  left: 50%;
  margin-left: -100px;
}
.jingdong-next{
  width: 400px;
  position: absolute;
  top: 760px;
  left: 50%;
  margin-left: -200px;
}
/*装饰物*/
.decr{
	position: absolute;
}
.i-dec6{
	right: 10px;
	top: 20px;
}
.i-dec7{
  right: 10px;
  bottom: 6%;
}
.i-dec8{
	left: 20px;
    top: 50%;
}
.i-dec9{
	left: 20px;
    top: 30px;
}
.i-dec10{
  right: 2px;
  top: 30%;
}
.i-dec11{
	left: 30px;
    bottom: 50px;
}
/*京东*/
#p6 .icon3{
	position: absolute;
	left: 50%;
}
.i-droplet{
	top: -5px;
	margin-left: -196px;
}
.i-shake-circle{
	margin-left: -273px;
	top: 20%;
}
.i-jd-reminder{
	margin-left: -228px;
	bottom: 200px;
}
.i-jd-quan{
	margin-left: -272px;
	top: 30%;
}
.i-tv{
  position: absolute;
  top: 0;
  left: 0;
}
.i-poor{
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.go-next-wrapper{
  width: 350px;
  height: 300px;
  position: absolute;
  top: 840px;
  right: 0px;
  z-index: 100000; 
}
.go-next{
  position: absolute;
  bottom: 0;
  left: 0;
}
.go-next-text{
  position: absolute;
  top: 125px;
  right: 120px;
  text-align: center;
  color: white;
  font-size: 2.5em;
}
.go-final{
  position: absolute;
  top: 800px;
  left: 0px;
  text-align: center;
  z-index: 100000;
}
/*颜值*/
.icon4{
	position: absolute;
	left: 50%;
}
.i-take-photo{
  margin-left: -305px;
  top: 170px;
}
.i-upload-btn{
  top: 900px;
  margin-left: -300px;
}
.upload-reminder{
  position: absolute;
  top: 500px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
}
.i-takephoto-btn{
  top: 900px;
  margin-left: 90px;
}
.i-upload-take-btn{
  top: 980px;
  margin-left: -210px;
}
.i-test-face{
  /*top: 890px;*/
  top: 820px;
  margin-left: -60px;
}
.uploaded-img{
  width: 580px;
  height: 580px;
   display: none; 
  position: absolute;
  top: 185px;
   z-index: 1000; 
  left: 50%;
  margin-left: -290px;

}
.i-blue-line{
  position: absolute;
  margin-left: -345px;
  top: 700px;
  opacity: 0;
  z-index: 5000;
}

/*我是歌手*/
@font-face {
  font-family: 'OpenSans-Light';
  src: url('fonts/OpenSans-Light.ttf')  format('truetype');
}
#p9. .i-dec9{
  right: 20px;
  bottom: 30px;
}
.i-radio{
  top: 180px;
  margin-left: -311px;
}
.i-radio-wheel1{
  top: 50px;
  margin-left: -360px;
}
.i-radio-wheel2{
  top: 50px;
  margin-left: 40px;
}
.i-sing-reminder{
  bottom: 30px;
  margin-left: -228px;
}
.i-microphone{
  top: 710px;
  margin-left: -200px;
}
.i-switch-off, .i-switch-on{
  top: 840px;
  margin-left: 30px;
}
.wave-wrapper{
  position: absolute;
  top: 554px;
  width: 583px;
  margin-left: -291px;
  left: 50%;
  overflow: hidden;
  height: 150px;
}
.part-result{
  width: 420px;
  height: 400px;
  position: absolute;
  top: 340px;
  left: 50%;
  margin-left: -210px;
  color: white;
  font-size: 35px;
  text-align: left;
  line-height: 45px;
  z-index: 100000;
}
.sing-count-down{
  font-family: 'OpenSans-Light';
  font-size: 80px;
  color: #f33579;
  position: absolute;
  top: 720px;
  height: 100px;
  width: 400px;
  left: 300px;
  z-index: 1000;
  display: block;
}
.i-wave{
	margin-left: 0px;
}


/*一呼百应*/
.icon5{
  position: absolute;
  left: 50%;
}
.i-voice-reminder{
  /*margin-left: -256px;*/
  margin-left: -290px;
  top: 70px;
}
.i-voice-microphone{
  bottom: 60px;
  margin-left: -35px;
}
.voice-microphone{
  position: absolute;
  left: 50%;
  margin-left: -145px;
  bottom: 30px;
  width: 290px;
}
.i-voice-wave{
  bottom: 70px;
  margin-left: -270px;
}
#raida{
  position: absolute;
  left: 50%;
  margin-left: -292px;
  top: 289px;
  -webkit-transition: -webkit-transform 2s;
}



/*用户画像*/
.user-img{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.user-input{
  position: absolute;
  bottom: 530px;
  width: 320px;
  padding: 10px 0;
  height: 60px;
  background: rgba(0,0,0,0);
  border: none;
  left: 180px;
  font-size: 40px;
}
.user-input:focus{
  outline: none;
}
.user-go{
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 505px;  
  left: 500px;
}
.user-reminder{
  width: 450px;
  position: absolute;
  bottom: 130px; 
  left: 50%;
  margin-left: -225px;
}
.user-result{
  position: absolute;
  bottom: 443px;
  left: 50%;
  margin-left: -276px; 
}
.user-next{
  width: 200px;
  position: absolute;
  bottom: 100px; 
  left: 50%;
  margin-left: -100px;
}

/*最终结果*/
.final-result{
  color: #00f100;
  font-size: 30px;
  text-align: center;
  width: 400px;
  position: absolute;
  line-height: 40px;
  left: 50%;
  margin-left: -200px;
  top: 300px;
}
/*最终结果*/
.icon6{
  position: absolute;
}
.i-final{
  left: 0;
  top: 100px;
}
.i-share-msg, .i-share-timeline{
  left: 50%;
  bottom: 100px;
}
.i-share-msg{
  margin-left: -300px;
}
.i-share-timeline{
  margin-left: 30px;
}
#final .gear2{
  top: 50px;
}
#final .gear3{
  top: 440px;
}
#p8 .gear2{
  bottom: 150px;
}

.share-btn, .more-btn{
  position: absolute;
  left: 50%;
  margin-left: -202px;
}
.share-btn{
  bottom: 270px;
}
.more-btn{
  bottom: 120px;
}
.share{
  display: none;
  z-index: 10000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}