.animated {
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}
.cloud-move{
  -webkit-transform: translate(-500px, -500px);
  -webkit-animation: move 1s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);  
}
.cloud-move-reverse{
  -webkit-transform: translate(-500px, -500px);
  -webkit-animation-name: move;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);    
}

.speed-move{
  -webkit-animation: moveNear 1s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(200px, -100px);
  }
  100% {
    -webkit-transform: translate(-300px, 300px);
  } 
}
@-webkit-keyframes moveNear {
  0% {
    -webkit-transform: translate(20px, -10px);
  }
  50% {
    -webkit-transform: translate(-30px, 30px);
  }
  100% {
    -webkit-transform: translate(20px, -10px);
  } 
}

.star-shink1{
  -webkit-animation: shink 0.5s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0); 
}
.star-shink2{
  -webkit-animation: shink 0.7s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0); 
}

@-webkit-keyframes shink {
  0% {
    -webkit-transform: scale(0.2);
  }
  50% {
    -webkit-transform: scale(1);
  } 
  100% {
    -webkit-transform: scale(0.5);
  } 
}

.movedown{
  -webkit-animation: movedown 3.5s linear;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0); 
}
@-webkit-keyframes movedown {
  0% {
    bottom: -200px;
  }
  50% {
    bottom: -100px;
  } 
  100% {
    bottom: 0px;
  } 
}

.moveright-slow{
  -webkit-animation: moveright 5s linear;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}

@-webkit-keyframes moveright {
  0% {
    -webkit-transform: translate(-50px, 0px);
  }
  100% {
    -webkit-transform: translate(50px, 0px);
  } 
}

.moveleft-slow{
  -webkit-animation: moveleft 5s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}

@-webkit-keyframes moveleft{
  0% {
    -webkit-transform: translate(50px, 0px);
  }
  100% {
    -webkit-transform: translate(-50px, 0px);
  } 
}
.moveleftback-slow{
  -webkit-animation: moveleftback 20s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}

@-webkit-keyframes moveleftback {
  0% {
    -webkit-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-100px);
  } 
  100% {
    -webkit-transform: translateX(0px);
  } 

}
.moverightback-slow{
  -webkit-animation: moverightback 10s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}

@-webkit-keyframes moverightback {
  0% {
    -webkit-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(100px);
  } 
  100% {
    -webkit-transform: translateX(0px);
  } 

}
.moveupdown{
  -webkit-animation: moveupdown 5s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}
.moveupdown-fast{
  -webkit-animation: moveupdown 1s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}
@-webkit-keyframes moveupdown {
  0% {
    -webkit-transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(20px);
  } 
  50% {
    -webkit-transform: translateY(0px);
  } 
  70% {
    -webkit-transform: translateY(-20px);
  } 
  100% {
    -webkit-transform: translateY(0px);
  } 
}

.star-shine-fast{
  -webkit-animation: shine 1s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);     
}
.star-shine{
  -webkit-animation: shine 1.5s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);     
}


@-webkit-keyframes shine {
  0% {
    opacity: 0
  }
  30% {
    opacity: 1  
  } 
  50% {
    -opacity: 0  
  } 
  70% {
    opacity: 1 
  } 
  100% {
    opacity: 0
  } 
}

.circle-scale1{
  -webkit-animation: circle-scale 1s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ;   
}
.circle-scale2{
  -webkit-animation: circle-scale 1s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ;   
}
.circle-scale3{
  -webkit-animation: circle-scale 1s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ;   
}

@-webkit-keyframes circle-scale {
  0% {
    -webkit-transform: scale(0.5)
  }
  100% {
    -webkit-transform: scale(1)
  }
}


.fadeIn{
  /*-webkit-animation: fadeIn 1s linear;*/
  -webkit-animation-name:fadeIn;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ;     
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1  
  } 
}

.delay0_5{
  animation-delay:0.5s;
  -webkit-animation-delay:0.5s;
}

.needle1-anime{
  -webkit-animation:rotate20 1.5s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ; 
}
.needle2-anime{
  -webkit-animation:rotate50 2s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ; 
}
@-webkit-keyframes rotate20 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-20deg);
  }
  70% {
    -webkit-transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  } 
}
@-webkit-keyframes rotate50 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-50deg);
  }
  70% {
    -webkit-transform: rotate(50deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  } 
}


.floating{
  -webkit-animation-name: floating;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
  }
  30% {
    -webkit-transform: translate(0, 15px);
  }
  50% {
    -webkit-transform: translate(0, 0px);
  }
  80% {
    -webkit-transform: translate(0, -15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
  } 
}

.flash.i-jingdonghao-light{
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;  
}
.shot-scale{
  -webkit-animation-name: shotScale;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;  
}
@-webkit-keyframes shotScale {
  0% {
    -webkit-transform: scale(0.8)
  }
  50% {
    -webkit-transform: scale(1)
  }
  100% {
    -webkit-transform: scale(0.8)
  }
}

.rotate360{
  -webkit-animation-name: rotate360;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;   
}
@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  } 
}

.metro1-anime{
  -webkit-animation-name: metro1;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;   
}
@-webkit-keyframes metro1 {
  0% {
    -webkit-transform: translate(200px, 200px) rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(-90deg)  } 
}

.metro2-anime{
  -webkit-animation-name: metro2;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;   
}
@-webkit-keyframes metro2 {
  0% {
    -webkit-transform: translate(-200px, 200px);
  }
  100% {
    -webkit-transform: translate(0px, 0px) 
  } 
}
.metro3-anime{
  -webkit-animation-name: metro3;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;   
}
@-webkit-keyframes metro3 {
  0% {
    -webkit-transform: translate(200px, -200px) rotate(190deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(190deg)  } 
}

.metro4-anime{
  -webkit-animation-name: metro4;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;   
}
@-webkit-keyframes metro4 {
  0% {
    -webkit-transform: translate(-200px, -200px) rotate(90deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(90deg)  
  } 

}

.flash1{
  -webkit-animation-name: flash1;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;     
}
.flash2{
  -webkit-animation-name: flash2;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;     
}


@-webkit-keyframes flash1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  } 
  100% {
    opacity: 0;
  } 

}

@-webkit-keyframes flash2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }   
}

.dropdown{
  -webkit-animation-name: dropdown;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;       
}

@-webkit-keyframes dropdown {
  0% {
    -webkit-transform: translate(0px, -1000px);
  }
  50% {
    -webkit-transform: translate(0px, -700px);
  }
  90% {
    -webkit-transform: translate(0px, 0px);
  } 
  95% {
    -webkit-transform: translate(0px, -40px);
  } 
  100% {
    -webkit-transform: translate(0px, 0px);
  } 
}

.car-in{
  -webkit-animation-name: carIn;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;       
}

@-webkit-keyframes carIn {
  0% {
    -webkit-transform: translate(-500px, 0px);
  }
  90% {
    -webkit-transform: translate(0px, 0px);
  } 
  95% {
    -webkit-transform: translate(50px, 0px);
  } 
  100% {
    -webkit-transform: translate(0px, 0px);
  } 
}

.star-rotate-anime{
  -webkit-animation-name: starRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;         
}
@-webkit-keyframes starRotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    opacity: 0.4;
  }
  50% {
    -webkit-transform: rotate(0deg) scale(0.7);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1); 
    opacity: 0.4; 
  } 
}



