.animated {
  -webkit-animation-duration:1s;
  animation-duration:1s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}
.cloud-move{
  -webkit-transform: translate(-500px, -500px);
  -webkit-animation: move 1s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);  
}
.cloud-move-reverse{
  -webkit-transform: translate(-500px, -500px);
  -webkit-animation-name: move;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);    
}

.speed-move{
  -webkit-animation: moveNear 1s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(200px, -100px);
  }
  100% {
    -webkit-transform: translate(-300px, 300px);
  } 
}
@-webkit-keyframes moveNear {
  0% {
    -webkit-transform: translate(20px, -10px);
  }
  50% {
    -webkit-transform: translate(-30px, 30px);
  }
  100% {
    -webkit-transform: translate(20px, -10px);
  } 
}

.star-shink1{
  -webkit-animation: shink 0.5s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0); 
}
.star-shink2{
  -webkit-animation: shink 0.7s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0); 
}

@-webkit-keyframes shink {
  0% {
    -webkit-transform: scale(0.2);
  }
  50% {
    -webkit-transform: scale(1);
  } 
  100% {
    -webkit-transform: scale(0.5);
  } 
}

.movedown{
  -webkit-animation: movedown 3.5s linear;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0); 
}
@-webkit-keyframes movedown {
  0% {
    bottom: -200px;
  }
  50% {
    bottom: -100px;
  } 
  100% {
    bottom: 0px;
  } 
}

.moveright-slow{
  -webkit-animation: moveright 5s linear;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}

@-webkit-keyframes moveright {
  0% {
    -webkit-transform: translate(-50px, 0px);
  }
  100% {
    -webkit-transform: translate(50px, 0px);
  } 
}
.moveleftback-slow{
  -webkit-animation: moveleftback 20s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}

@-webkit-keyframes moveleftback {
  0% {
    -webkit-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(-100px);
  } 
  100% {
    -webkit-transform: translateX(0px);
  } 

}
.moverightback-slow{
  -webkit-animation: moverightback 10s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}

@-webkit-keyframes moverightback {
  0% {
    -webkit-transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(100px);
  } 
  100% {
    -webkit-transform: translateX(0px);
  } 

}
.moveupdown{
  -webkit-animation: moveupdown 5s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}
.moveupdown-fast{
  -webkit-animation: moveupdown 1s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);   
}
@-webkit-keyframes moveupdown {
  0% {
    -webkit-transform: translateY(0px);
  }
  30% {
    -webkit-transform: translateY(20px);
  } 
  50% {
    -webkit-transform: translateY(0px);
  } 
  70% {
    -webkit-transform: translateY(-20px);
  } 
  100% {
    -webkit-transform: translateY(0px);
  } 
}

.star-shine-fast{
  -webkit-animation: shine 1s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);     
}
.star-shine{
  -webkit-animation: shine 1.5s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);     
}


@-webkit-keyframes shine {
  0% {
    opacity: 0
  }
  30% {
    opacity: 1  
  } 
  50% {
    -opacity: 0  
  } 
  70% {
    opacity: 1 
  } 
  100% {
    opacity: 0
  } 
}

.circle-scale1{
  -webkit-animation: circle-scale 1s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ;   
}
.circle-scale2{
  -webkit-animation: circle-scale 1s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ;   
}
.circle-scale3{
  -webkit-animation: circle-scale 1s linear infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ;   
}


@-webkit-keyframes circle-scale {
  0% {
    -webkit-transform: scale(0.5)
  }
  100% {
    -webkit-transform: scale(1)
  }
}


.fadeIn{
  /*-webkit-animation: fadeIn 1s linear;*/
  -webkit-animation-name:fadeIn;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ;     
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1  
  } 
}

.delay0_5{
  animation-delay:0.5s;
  -webkit-animation-delay:0.5s;
}

.needle1-anime{
  -webkit-animation:rotate20 1.5s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ; 
}
.needle2-anime{
  -webkit-animation:rotate50 2s ease-out infinite;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0)  ; 
}
@-webkit-keyframes rotate20 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-20deg);
  }
  70% {
    -webkit-transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  } 
}
.needle2{

}
@-webkit-keyframes rotate50 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-50deg);
  }
  70% {
    -webkit-transform: rotate(50deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  } 
}
