.icon1{
	background: url(icon/icon1.png);
	display: inline-block;
}
.i-speed{
	width: 550px;
	height: 240px;
	background-position: -446px -445px;
}
.i-small-star{
	width: 40px;
	height: 45px;
	/*background-position: -140px -506px;*/
	background-image: url(icon/shinkstar.png);
}

.i-superman{
	width: 495px;
	height: 445px;
	background-position: 0 0;
}

.i-loading{
	width: 440px;
	height: 155px;
	background-position: -526px 0; 
}
.i-cloud{
	width: 465px;
	height: 360px;
	background-position: -535px 0px;
}

/*p2*/
.icon2{
	background: url(icon/icon2.png);
	display: inline-block;
}
.i-sudden{
	width: 470px;
	height: 110px;
	background-position: -480px -14px;
}
.i-ship{
	width: 326px;
	height: 300px;
	background-position: 0 0 ;
}

.i-black-cloud{
	width: 180px;
	height: 100px;
	background-position: 0 -320px;
}
.i-moon{
	width: 170px;
	height: 160px;
	background-position: 0 -431px;
}
.i-stars{
	width: 690px;
	height: 550px;
	background-position: -304px -155px;
}
.i-trees{
	width: 750px;
	height: 226px;
	background-position: 0 -775px;
}

.icon3{
	background: url(icon/icon3.png);
	display: inline-block;
}
.i-invitation{
	width: 606px;
	height: 353px;
	background-position: 0 0;
}
.i-black-cloud-big{
	width: 350px;
	height: 184px;
	background-position: -18px -394px;
}
.i-moon-big{
	width: 194px;
	height: 210px;
	background-position: 0 -619px;
}
.i-go{
	width: 184px;
	height: 108px;
	background-position: -670px -73px;
}
.i-stars2{
	width: 750px;
	height: 350px;
	background-position: -230px -620px;
}
.i-needle1{
	width: 14px;
	height: 28px;
	background-position: -654px -234px;
}
.i-needle2{
	width: 16px;
	height: 22px;
	background-position: -706px -240px;
}

/*p4*/

.i-cloud2{
	width: 220px;
	height: 113px;
	/*background-position: -30px -500px;*/
	background-image: url(icon/cloud2.png);
	background-repeat: no-repeat;
}
.i-cloud-big{
	width: 944px;
	height: 353px;
	background-position: 0 -100px;
}

/*星球*/
.i-planet{
	background: url(icon/planet.png);
	display: inline-block;
  z-index: 10000;
}
.i-huixing-lock{
	width: 187px;
	height: 203px;
	background-position: -181px -24px;
}
.i-mani-lock{
	width: 175px;
	height: 192px;
	background-position: -187px -224px;
}
.i-gede-lock{
	width: 137px;
	height: 186px;
	background-position: -199px -430px;
}
.i-dawang-lock{
	width: 182px;
	height: 166px;
	background-position: -195px -624px;
}
.i-k-lock{
	width: 143px;
	height: 218px;
	background-position: -201px -817px;
}
.i-huixing{
	width: 187px;
	height: 203px;
	background-position: -400px -24px;
}
.i-mani{
	width: 175px;
	height: 192px;
	background-position: -410px -224px;
}
.i-gede{
	width: 137px;
	height: 186px;
	background-position: -419px -430px;
}
.i-dawang{
	width: 182px;
	height: 166px;
	background-position: -419px -630px;
}
.i-k{
	width: 143px;
	height: 218px;
	background-position: -409px -817px;
}




/*p5*/
.icon6{
	background: url(icon/icon6.png);
	display: inline-block;
}

.i-camera{ background: url('icon/camera.png'); 
	background-size: cover; 
	width: 190px; 
	height: 190px; 
	position: absolute; 
	left: 50%; 
	margin-left: -95px; 
	top: 75%; 
	z-index: 10; 
}
.i-secury-process{
	width: 420px;
	height: 100px;
	background-position: -546px -760px;
  opacity: 0.5;
}
.i-secury-arrow-ok{
	width: 45px;
	height: 50px;
	background-position: -604px -682px;
}
.i-secury-arrow{
	width: 45px;
	height: 50px;
	background-position: -683px -682px;
}

/*p6*/
.i-jingdonghao{
	width: 474px;
	height: 324px;
	background-position: 0 0 ;
}
.i-sale-small{
	width: 83px;
	height: 81px;
	background-position: -23px -360px;
	opacity: 0.3;
}
.i-sale-big{
	width: 190px;
	height: 160px;
	background-position: 0px -450px;
}
.i-shot{
	width: 200px;
	height: 200px;
	background-position: -210px -347px;
}
.i-jingdong-planet1{
	width: 132px;
	height: 132px;
	background-position: -24px -622px;
}
.i-jingdong-planet2{
	width: 120px;
	height: 90px;
	background-position: -202px -648px;
}
.i-jingdong-planet3{
	width: 200px;
	height: 200px;
	background-position: -18px -776px;
}
.i-jingdong-planet4{
	width: 134px;
	height: 134px;
	background-position: -247px -835px;
}
.i-jingdonghao-light{
	width: 440px;
	height: 460px;
	background-position: -530px 0px;
}

/*p7*/
.i-metro{
	width: 120px;
	height: 137px;
	background-position: -396px -558px;
}
.white-star-big{
	width: 70px;
	height: 84px;
	background-position: -416px -712px;
}


/*p8*/
.icon8{
	background: url(icon/icon8new.png);
	display: inline-block;
}

.i-car{
	width: 304px;
	height: 230px;
	background-position: 0 0;
}
.i-wajue{
	width: 250px;
	height: 326px;
	background-position: 0 -253px;
}
.i-fan{
	width: 163px;
	height: 260px;
	background-position: 0 -590px;
}
.i-ring{
	width: 177px;
	height: 233px;
	background-position: -352px 0;
}
.i-bear{
	width: 170px;
	height: 245px;
	background-position: -350px -250px;
}
.i-huojian{
	width: 188px;
	height: 217px;
	background-position: -600px -717px;
}
.i-saoba{
	width: 198px;
	height: 280px;
	background-position: -600px -406px;
}
.i-qiqiu{
	width: 180px;
	height: 291px;
	background-position: -820px -390px;
}

.i-card-arrow{
	width: 120px;
	height: 50px;
	background-position: -375px -562px;
}
.i-card-arrow-reverse{
	width: 120px;
	height: 50px;
	background-position: -375px -627px;
}

.i-pos{
	width: 212px;
	height: 360px;
	background-position: -628px 0;
}

/*p12*/
.icon12{
	background: url(icon/icon12.png);
	display: inline-block;
}
.i-building1{
	width: 97px;
	height: 132px;
	background-position: -655px -21px;
}
.i-building2{
	width: 153px;
	height: 193px;
	background-position: -655px -160px;
}
.i-building3{
	width: 203px;
	height: 342px;
	background-position: -655px -368px;
}
.i-flat-building{
	width: 300px;
	height: 267px;
	background-position: 0 0;
}

/*p15*/
.star-rotate{
	background: url(icon/icon15.png);
	display: inline-block;
	position: absolute;
	width: 70px;
	height: 70px;
	background-position: -25px -700px;
}
.xunzhang{
	width: 125px;
	height: 150px;
	background: url(icon/icon15.png);
	display: inline-block;
	position: relative;
  margin-right: 20px;
}
.x41{
	background-position: 0 0;
}
.x42{
	background-position: -175px 0;
}
.x31{
	background-position: 0 -172px;
}
.x32{
	background-position: -175px -172px;
}
.x21{
	background-position: 0 -336px;
}
.x22{
	background-position: -175px -336px;
}
.x11{
	background-position: 0 -500px;
}
.x12{
	background-position: -175px -500px;
}






