*{
	margin: 0;
	padding: 0;
}
body{
	background-color: black;
}
html,body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
	background-color: #242d32;
}
.m1{
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
}

#p1{
	background-image: url(bg/p11.png);
	background-repeat: no-repeat;
}

/*p1*/
.icon1, .sky-circle1, .sky-circle2{
	position: absolute;
	left: 50%;
}
.i-small-star.star1{
  top: 290px;
  margin-left: 10px;
}
.i-small-star.star2{
  top: 410px;
  margin-left: 210px;
}
.i-speed{
  position: relative;
  margin-left: -292px;
  /* left: auto; */
  top: 50px;
}
.sky-circle1, .sky-circle2{  
  width: 470px;
  height: 470px;
  border-radius: 50%;
  top: 448px;
  margin-left: -235px;
}
.sky-circle1{
  background: #0577bd;
}
.sky-circle2{
	background: #27b6ee;
	margin-top: 26px;
  overflow: hidden;
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.i-cloud{
  position: relative;
  margin-left: -490px;
  /* left: auto; */
  top: 20px;
}

.i-title1{
	margin-left: -180px;
	top: 110px;
}
.i-title2{
	margin-left: -325px;
	top: 305px;
}
.i-hero{
	left: 120px;
	top: 115px;
}
.i-superman{
  margin-left: -225px;
  top: 477px;
  opacity: 0;
}
.diaosi{
  position: absolute;
  left: 50%;
    margin-left: -165px;
  top: 508px;
}
.i-loading{
	margin-left: -220px;
	top: 1005px;
}
.loading-bg{
	width: 142px;
	height: 170px;
	background-image:url('animation/loading2.png') ;
	
	background-position: 0 0;
  position: absolute;
  left: 300px;
  top: 954px;
}


.loading-text{
  color: white;
  font-size: 32px;
  width: 100px;
  text-align: center;
  position: absolute;
  left: 322px;
  top: 1012px;
}

/*p2*/

.icon2{
	position: absolute;
}
.p2-content-wrapper{
	height: 1500px;
	position: absolute;
	bottom: 0px;
	width: 750px;
}
.p2-star-big{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffd76b;
	position: absolute;
}
.p2-star-small{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #ffd76b;
	position: absolute;
}
.fire{
	width: 120px;
	height: 70px;
	background-image:url('animation/fire.png') ;
	background-position: 0 0;
  position: absolute;
  left: -80px;
  top: 80px;
}
.i-sudden{
	bottom: 400px;
	left: 150px;
}
.sudden{
	bottom: 400px;
	left: 120px;
	position: absolute;
}
.i-trees{
	bottom: 0px;
	left: 0;
}
.i-moon{
	left: 30px;
	top: 310px;
}
.i-stars{
	top: 60px;
	right: 30px;
}
.i-black-cloud{
	top: 320px;
	right: 30px;
}
.ship-wrapper{
	position: absolute;
	width: 326px;
	height: 300px;
	left: 50%;
	top: 500px;
	margin-left: -200px;
	-webkit-transform: translate(150px, 0px);
}

/*p3*/
#p3{
	background-image: url(bg/p2.jpg);
	background-size: 100% auto;
}
.icon3{
	position: absolute;
}
.trees, .ufo{
	position: absolute;
	bottom: 0;
	left: 0;
}
.i-needle1{
  position: absolute;
  left: 77px;
  top: 150px;
  -webkit-transform-origin: 50% 100%;
}
.i-needle2{
  position: absolute;
  right: 82px;
  top: 165px;
  -webkit-transform-origin: 50% 100%;
}
.click-reminder{
  position: absolute;
  bottom: 120px;
  right: 210px;
  z-index: 900;
 float:left;
}
.cicle1{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	background: rgba(255,255,255,0.9);
	margin-left: -25px;
	margin-top: -25px;
}
.cicle2{
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: rgba(255,255,255,0.7);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -35px;
	margin-top: -35px;
}
.cicle3{
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: rgba(255,255,255,0.4);
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -45px;
	margin-top: -45px;
}


.trees{
	bottom: 130px;
}


.i-invitation{
	left: 50%;
	margin-left: -300px;
	top: 280px;
}
.i-black-cloud-big{
	top: 20px;
	right: -20px;
}
.i-moon-big, .i-stars2{
	left: 0;
	top: 0;
}
.inv-text{
	color: #92e34a;
  width: 380px;
  height: 70px;
  font-size: 26px;
  position: absolute;
  line-height: 40px;
  bottom: 160px;
  left: 50%;
  margin-left: -180px;
  z-index: 1000;
}

.i-go{
	left: 50%;
	margin-left: -100px;
	top: 720px;
	z-index: 10000;
}
.shine-lines{
	width: 200px;
	height: 200px;
	background-image:url('animation/go.png') ;
	background-position: 0 0;
  position: absolute;
  left: 260px;
  top: 635px;

}

.click{
  height: 400px;
  position: absolute;
  bottom: 0;
  width: 750px;
}
/*p4 地图*/
#p4{
	background-image: url(bg/p4.jpg);
	background-size: 100% auto;
}
.line{
	position: absolute;
	right: 0;
	top: 0px;
}

.arrow{
  position: absolute;
  left: 175px;
  top: 750px;
  z-index: 90000;
}
.i-stars-white{
  position: absolute;
  top: 200px;
  left: 60px;
}
.i-cloud2{
   position: absolute;
  top: 500px;
  left: 200px
 }
 .map-tip{
 	position: absolute;
 	/*bottom: 60px;*/
 }
.map-tip1{
	left: 184px;
	top: 540px;
}
.map-tip2{
	left: 184px;
	top: 270px;
}
.map-tip3{
	left: 350px;
	top: 270px;
}
.map-tip4{
	left: 360px;
	top: 310px;
}
.map-tip5{
	left: 200px;
	top: 477px;
}



.p4-star-big{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
	position: absolute;
}
.p4-star-small{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	position: absolute;
}

/*星球*/
.planet1-unlock{
	width: 250px;
	height: 155px;
	background-position: 0 -320px;
}
.planet1{
  position: absolute;
  width: 150px;
  height: 180px;
  top: 640px;
  left: 75px;
}
.i-planet{
	position: absolute;
}
.i-huixing-lock, .i-huixing{
	left: 56px;
	top: 380px;
}
.i-mani, .i-mani-lock{
	/*left: 380px;*/
	left: 530px;
	top: 160px;
}
.i-mani{
	top: 150px;
}
.i-gede, .i-gede-lock{
	left: 555px;
	top: 407px;
}
.i-dawang, .i-dawang-lock{
	left: 400px;
	top: 650px;
}
.i-k, .i-k-lock{
  left: 500px;
  top: 883px;
}
#j-location{
  position: absolute;
  top: 933px;
  left: 120px;
  z-index: 10000;
}



.music-status {
  position: fixed;
  height: 60px;
  width: 60px;
  right: 30px;
  top: 30px;
  background: transparent url("icon/on.png") no-repeat left top;
  z-index: 9999;
}
.music-status-on {
  /*-webkit-animation: music 1s 0s linear infinite both;*/
  animation: music 1s 0s linear infinite both;
}
.music-status {
  background-size: auto 100% !important;
}
.m_off {
  background: transparent url("icon/off.png") no-repeat left top!important;
  background-size: auto 100%!important;
}
@-webkit-keyframes music{100%{-webkit-transform:rotate(360deg)}}

@keyframes music{100%{transform:rotate(360deg)}}

/*p5 安检*/
#p5{
	background-image: url(bg/p5.jpg);
	background-size: 100% auto;
}
#canvas{
  width: 450px;
  height: 580px;
  position: absolute;
  top: 205px;
  z-index: 100;
  left: 155px;
 }
#j-secury{
position: absolute;
  bottom: 130px;
  z-index: 100;
  right: 0;
}
#j-retake{
	position: absolute;
  bottom: 130px;
  z-index: 100;
  left: 0;
}
.secury-process{
  position: absolute;
  top: 700px;
  z-index: 100;
  left: 50%;
  margin-left: -210px;
  width: 420px;
  height: 100px;
  display: none;
}

/*p6*/
#p6{
	background-image: url(bg/p6.jpg);
	background-size: 100% auto;
}
.icon6{
	position: absolute;
}
.i-jingdong-planet1{
	top: 750px;
	left: 550px;
}
.i-jingdong-planet2{
	top: 80px;
	left: 580px;
}
.i-jingdong-planet3{
	top: 800px;
	left: 40px;
}
.i-jingdong-planet4{
	top: 20px;
	left: 30px;
}
.i-jingdonghao{
	top: 90px;
	left: 80px;
}
.i-jingdonghao-light{
  left: 180px;
  top: 300px;
}
.small-sale1{
	top: 390px;
	left: 267px;
}
.small-sale2{
	top: 470px;
	left: 480px;
}
.small-sale3{
	left: 140px;
	/*top: 710px;*/
	top: 680px;
}
.small-sale4{
	left: 430px;
	top: 850px;
}
.big-sale1, .small-sale5{
	left: 145px;
	top: 480px;
}
.big-sale2, .small-sale6{
	left: 425px;
	top: 565px;
}
.i-sale-big{
	z-index: 10000;
}
#j-shot1{
	position: absolute;
	left: 115px;
	top: 435px;
}
#j-shot2{
	position: absolute;
	left: 395px;
	top: 520px;
}
/*p7*/
#p7{
	/*background-image: url(bg/p7.jpg);*/
	/*background-size: 100% auto;*/
}
.result-cloud{
	position: absolute;
	bottom: 0;
	left: 0;
}
.jingdong-result{
	position: absolute;
	top: 100px;
	left: 70px;
	z-index: 100;
}
.jingdong-round{
  width: 1338px;
  /* height: 1338px; */
  position: absolute;
  left: 50%;
  top: -300px;
  margin-left: -669px;
}
.jingdong-metro{
	position: absolute;
	width: 750px;
	left: 0;
	top: -70px;
}
.avatar{
  position: absolute;
  top: 95px;
  left: 300px;
  width: 130px;
  height: 163px;
  z-index: 1000;
}
.ship-moveon{
	position: absolute;
  width: 326px;
  height: 300px;
  right: 0px;
  top: 0px;
  -webkit-transform: scale(0.6);

}

.moveon{
  position: absolute;
  width: 200px;
  height: 300px;
  right: 0px;
  top: 560px;
  z-index: 10000;
}
.moveon p{
    font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 60px;
  top: 220;
}
.flyarrow{
	position: absolute;
  left: 60px;
  top: 40px;

}
.flyfly{
  position: absolute;
  left: 30px;
  top: 20px;
}

/*中信*/
#p8{
	background-image: url(bg/p8.png);
}
.icon8{
	position: absolute;
}
.i-car{
	left: 125px;
	top: 151px;
}
.i-fan, .i-saoba{
	left: 55px;
	top: 402px;
}
.i-ring{
	left: 132px;
	top: 662px;
}
.i-huojian{
	left: 32px;
	top: 702px;
}

.i-wajue{
	left: 490px;
	top: 541px;
}

.i-bear, .i-qiqiu{
	left: 529px;
	top: 231px;
}
.i-pos{
	left: 269px;
	top: 397px;
}
.i-card-arrow, .i-card-arrow-reverse{
	left: 353px;
	top: 343px;
}
.i-card-arrow-reverse{
	display: none;
}
.zhongxin-card{
	position: absolute;
	left: 76px;
	top: 250px;
  /*-webkit-transition: -webkit-transform 1s;*/

}
.i-card-arrow{
    -webkit-animation-iteration-count: infinite;
}

#p9{
	background-color: #ebebeb;
}
.zhongxin-result{
	position: absolute;
	bottom: 70px;
	left: 70px;
	z-index: 100;
}

/*p10 我是歌手*/
#p10{
	background-color: black;
	background-image: url(bg/p10.png);
}
.geshou{
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: -375px;
}
.geshou-light1{
  position: absolute;
  top: -10px;
  left: 18px;	
  -webkit-animation-iteration-count:infinite;
}

.geshou-light2{
  position: absolute;
  top: -10px;
  right: 17px;	
  -webkit-animation-iteration-count:infinite;
}

.geshou-button1{
  position: absolute;
  top: 660px;
  left: 60px;
  z-index: 1000;
}

.geshou-button2{
  position: absolute;
  top: 660px;
  right: 90px;
  z-index: 1000;

}

/*一呼百应*/
#p12{
	background-color: #242d32;
	background-image: url(bg/p12.jpg);
}
.sun{
	position: absolute;
	top: 50px;
	left: 30px;
}
.book{
	position: absolute;
	top: 210;
	left: 200px;
}
.gailou-text{
  position: absolute;
  top: 720px;
  right: 75px;	
}

/*一呼百应结果*/
#p13{
	background-color: #e4a835;
}
.book1-anime{
	background-image: url(animation/book1.png);
	width: 749px;
	height: 494px;
	background-position: 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
.book2-anime{
	background-image: url(animation/book2.png);
	width: 749px;
	height: 494px;
	background-position: 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
.i-flat-building{
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 200px;
}
.gailou-animation{
	width: 750px;
	height: 600px;
	position: absolute;
	top: 80px;
	left: 0px;
}
.i-building1{
  position: absolute;
  left: 50%;
  margin-left: -65px;
  top: -4px;
}
.i-building2{
  position: absolute;
  left: 50%;
  margin-left: -55px;
  top: 70px;

}
.i-building3{
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 170px;
}




#p14{
	background-color: #242d32;
	background-image: url(bg/p13.png);
	background-repeat: no-repeat;
}
.enter{  
  position: absolute;
  top: 600px;
  left: 50%;
  margin-left: -125px;
}
#p14 .shine-lines{
  left: 275px;
  top: 535px;
}
.firework{
	background-image: url(animation/firework.png);
	width: 300px;
	height: 300px;
	position: absolute;
}

/*最终结果*/
#p15{
	background-image: url(bg/p15.png);
	background-repeat: no-repeat;
}
.result-people{
	position: absolute;
  top: 370px;
  right: 65px;
}
.result-car{
  position: absolute;
  bottom: 360px;
  right: 150px;
}
.result-car.car2{
  right: 230px;
}
.final-text{
	position: absolute;
	width: 750px;
	left: 0;
	bottom: 0;
	height: 450px; 
}
.result-text{
	position: absolute;
	bottom: 107px;
	left: 90px;
}

.xunzhang-wrapper{
	position: absolute;
	top: 70px;
	left: 90px;
}
.share{
	display: none;
	position: absolute;
	z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.final-avatar{
  position: absolute;
  top: 360px;
  left: 550px;
  width: 130px;
  height: 163px;
  z-index: 1;
}



#j-move-stage-7 .moveon{
	top: 600px;
}
/*p16*/
#p16{
	/*background-image: url(bg/p16n.jpg);*/
	background-repeat: no-repeat;
}

.share-light{
position: absolute;
  top: 443px;
  left: 153px;
}
.share-light2{
position: absolute;
  top: 43px;
  left: 513px;
  display: none;
  z-index: 100000;
}


#user-name{
	border: 0;
  width: 250px;
  padding: 7px;
  position: absolute;
  top: 645px;
  left: 210px;
  font-size: 40px;
}
#fill{
  position: absolute;
  top: 617px;
  left: 454px;
}
.input{
  position: absolute;
  top: 510px;
  left: 180px;
}

/*p17*/
#p17{
	/*background-image: url(bg/p17.jpg);*/
	background-repeat: no-repeat;
}
.share-text{
  position: absolute;
  top: 590px;
  left: 210px;
  /*display: none;*/
}
#j-send-btn{
  position: absolute;
  top: 840px;
  left: 160px;  /*display: none;*/
}
#j-share-btn{
position: absolute;
  top: 840px;
  left: 415px;
}

.final-arrow{
  position: absolute;
  top: 32px;
  left: 495px;
}

.lucky{
  position: absolute;
  top: 650px;
  left: 200px;
}
