#p8{
	background-image: url(bg/p8.png);
}
.icon8{
	position: absolute;
}
.i-car{
	left: 125px;
	top: 151px;
}
.i-fan{
	left: 55px;
	top: 402px;
}
.i-ring{
	left: 132px;
	top: 662px;
}
.i-wajue{
	left: 490px;
	top: 541px;
}

.i-bear{
	left: 529px;
	top: 231px;
}
.i-pos{
	left: 269px;
	top: 397px;
}
.i-card-arrow, .i-card-arrow-reverse{
	left: 353px;
	top: 343px;
}
.i-card-arrow-reverse{
	display: none;
}
.zhongxin-card{
	position: absolute;
	left: 76px;
	top: 250px;
  -webkit-transition: -webkit-transform 1s;

}
.i-card-arrow{
    -webkit-animation-iteration-count: infinite;
}

#p9{
	background-color: #ebebeb;
}
.zhongxin-result{
	position: absolute;
	bottom: 70px;
	left: 70px;
	z-index: 100;
}

/*p10 我是歌手*/
#p10{
	background-color: black;
	background-image: url(bg/p10.png);
}
.geshou{
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: -375px;
}
.geshou-light1{
  position: absolute;
  top: -10px;
  left: 18px;	
  -webkit-animation-iteration-count:infinite;
}

.geshou-light2{
  position: absolute;
  top: -10px;
  right: 17px;	
  -webkit-animation-iteration-count:infinite;
}

.geshou-button1{
  position: absolute;
  top: 660px;
  left: 60px;
}

.geshou-button2{
  position: absolute;
  top: 660px;
  right: 90px;
}

/*一呼百应*/
#p12{
	background-color: #242d32;
	background-image: url(bg/p12.png);
}
.sun{
	position: absolute;
	top: 50px;
	left: 30px;
}
.book{
	position: absolute;
	top: 210;
	left: 200px;
}
.gailou-text{
  position: absolute;
  top: 720px;
  right: 75px;	
}

/*一呼百应结果*/
#p13{
	background-color: #e4a835;
}
.book1-anime{
	background-image: url(animation/book1.png);
	width: 749px;
	height: 494px;
	background-position: 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
.gailou-animation{
	width: 750px;
	height: 600px;
	position: absolute;
	top: 80px;
	left: 0px;
}
.i-building1{
  position: absolute;
  left: 50%;
  margin-left: -65px;
  top: -4px;
}
.i-building2{
  position: absolute;
  left: 50%;
  margin-left: -55px;
  top: 70px;

}
.i-building3{
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 170px;
}




#p14{
	background-color: #242d32;
	background-image: url(bg/p13.png);
	background-repeat: no-repeat;
}
.enter{  
  position: absolute;
  top: 600px;
  left: 50%;
  margin-left: -125px;
}
#p14 .shine-lines{
  left: 275px;
  top: 535px;
}
.firework{
	background-image: url(animation/firework.png);
	width: 300px;
	height: 300px;
	position: absolute;
}

/*最终结果*/
#p15{
	background-image: url(bg/p15.png);
	background-repeat: no-repeat;
}
.result-people{
	position: absolute;
  top: 370px;
  right: 65px;
}
.result-car{
  position: absolute;
  bottom: 360px;
  right: 150px;
}
.result-car.car2{
  right: 230px;
}
.final-text{
	position: absolute;
	width: 750px;
	left: 0;
	bottom: 0;
	height: 450px; 
}
.result-text{
	position: absolute;
	bottom: 107px;
	left: 90px;
}

.xunzhang-wrapper{
	position: absolute;
	top: 70px;
	left: 90px;
}
.share{
	display: none;
	position: absolute;

}
.share-text{
  position: absolute;
  top: 450px;
  left: 230px;
}
.share-light{
  position: absolute;
  top: 387px;
  left: 183px;
}
#user-name{
	border: 0;
	width: 220px;
  padding: 5px;
  position: absolute;
  top: 559px;
  left: 230px;
  font-size: 40px;
}
