<html>
<head>
	<title>贴吧合伙人商业挑战赛邀请函</title>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	<meta name="format-detection" content="telephone=no,address=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="http://morry.oss-cn-beijing.aliyuncs.com/tieba/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/invitation/invitation.css">
	<link rel="stylesheet" type="text/css" href="/static/css/invitation/icon.css">
	<link rel="stylesheet" type="text/css" href="/static/css/weekly/time.css">

</head>
<body>
	<img src="/static/css/invitation/cover/cover.png" style="height:0">
	<div id="cover" class="cover">
		<div class="metro metro1"></div>
		<div class="metro metro2"></div>
		<div class="metro metro3"></div>

		<div id="unlock">
			<img class="cover-logo" src="/static/css/invitation/cover/logo2.png">
			<img class="cover-arrow" src="/static/css/invitation/cover/arrow2.png">
			<div id="circle-open">
				<div class="cover-circle">
					<div class="square" style="top:-4px;left:50%;margin-left:-4px;"></div>
					<div class="square" style="top:50%;right:-4px;"></div>
					<div class="square" style="bottom:-4px;left:50%;margin-left:-4px;"></div>
					<div class="square" style="top:50%;left:-4px;"></div>
				</div>
			</div>
			<img class="cover-slide" src="/static/css/invitation/cover/slide.png">
			<div class="cover-text-wrapper">
				<img src="/static/css/invitation/cover/text.png">
			</div>
		</div>
	</div>

	<!-- 弹出框 -->
	<div class="t-info">
		<div class="info-box">
			<!--邀请函-->
			<div class="info-content info-content-invitation">
				<div id="invitation-p1">
					<div class="comos-bg">
						<img class="invitation-planet1" src="/static/css/invitation/content/planet/1.png">
					</div>
					<img class="invitation-title" src="/static/css/invitation/content/invitation/title.png">
					<img class="invitation-btn" src="/static/css/invitation/content/invitation/btn.png">
				</div>
				<div id="invitation-p2">
					<img class="intro-invitation" src="/static/css/invitation/content/invitation/content.png">
				</div>
			</div>
			<!--团队风采-->
			<div class="info-content info-content-team">
				<img class="content-planet" src="/static/css/invitation/content/planet/one/5.png">
			    <!-- <img class="team-title" src="/static/css/invitation/content/team/title.png"> -->
				<div id="team-content" class="team-content-slide swiper-container">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide">
			            	<img class="team-img" src="/static/css/invitation/content/team/1.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="team-img" src="/static/css/invitation/content/team/2.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="team-img" src="/static/css/invitation/content/team/3.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="team-img" src="/static/css/invitation/content/team/4.png">
			            </div>
			        </div>
			    </div>
			    <img id="team-arrow" class="slide-arrow" src="/static/css/invitation/content/arrow.png">
			</div>
			<!--导师阵容-->
			<div class="info-content info-content-tutor">
				<img class="content-planet" src="/static/css/invitation/content/planet/one/3.png">
			    <!-- <img class="tutor-title" src="/static/css/invitation/content/tutor/title.png"> -->
				<div id="tutor-content" class="tutor-content-slide swiper-container">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide">
			            	<img class="tutor-img" src="/static/css/invitation/content/tutor/2_1.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="tutor-img" src="/static/css/invitation/content/tutor/2_3.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="tutor-img" src="/static/css/invitation/content/tutor/2_2.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="tutor-img" src="/static/css/invitation/content/tutor/2_4.png">
			            </div>
			        </div>
			    	<div class="swiper-pagination"></div>
			    </div>
			</div>
			<!--行业数据-->
			<div class="info-content info-content-data">
				<img class="content-planet" src="/static/css/invitation/content/planet/one/4.png">
				<img class="img-content" src="/static/css/invitation/content/none.png">
			</div>
			<!--大赛介绍-->
			<div class="info-content info-content-intro">
				<div id="intro-content" class="intro-content-slide swiper-container">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide" id="intro-p1">
							<img class="content-planet" src="/static/css/invitation/content/planet/one/2.png">
			            	<img class="img-content" style="width:80%;margin-top:50%" src="/static/css/invitation/content/intro2_2.png">
			            </div>
			            <div class="swiper-slide" id="intro-p2">
			            	<div class="img-content process-wrapper">
			            		<img class="process process1" style="top:0;left:50px;" src="/static/css/invitation/content/invitation/process/process1.png">
			            		<div class="process-line line1"></div>
			            		<img class="process process2" style="left: 180px; top: 115px;"src="/static/css/invitation/content/invitation/process/process2.png">
			            		<div class="line2-wrapper"><div class="line2"></div></div>			  
			            		<img class="process process3" style="left: 50px; top: 230px;" src="/static/css/invitation/content/invitation/process/process3.png">
			            		<div class="process-line line3"></div>			            		
			            		<img class="process process4" style="left: 180px; top: 343px;"src="/static/css/invitation/content/invitation/process/process4.png">
			            	</div>
			            </div>
			        </div>
			    </div>	
			    <img id="intro-arrow" class="slide-arrow" src="/static/css/invitation/content/arrow.png">		            
			</div>
			<a class="btn-close" data-class="intro"></a>
		</div>
	</div>

	<!-- 星空 -->
	<div id="comos" class="comos t-ios-main">
		<div class="container">
			<div class="box">
				<div class="shape">
					<!--North face-->
					<div id="north" class="face nf"></div>
					<div id="mid" class="face mf">						
						<a href="javascript:void(0);" class="btn-mid-open btn-mid-intro" data-class="intro"></a>
						<a href="javascript:void(0);" class="btn-mid-open btn-mid-invitation" data-class="invitation"></a>
						<a href="javascript:void(0);" class="btn-mid-open btn-mid-team" data-class="team"></a>
						<a href="javascript:void(0);" class="btn-mid-open btn-mid-data" data-class="data"></a>
						<a href="javascript:void(0);" class="btn-mid-open btn-mid-tutor" data-class="tutor"></a>
					</div>

					<!--East face-->
					<div id="east" class="face ef"></div>
					<!--South face-->
					<div id="south" class="face sf"></div>
					<!--West face-->
					<div id="west" class="face wf"></div>
					<!--Up face-->
					<div id="up" class="face uf"></div>
					<!--Down face-->
					<div id="down" class="face df"></div>

					<!-- planets -->
					<div class="planet planet-1">
						<img src="/static/css/invitation/planet/1.png">
						<a href="javascript:void(0);" class="btn-open btn-invitation" data-class="invitation"></a>
					</div>
					<div class="planet planet-2">
						<!-- <img src=""> -->
						<a href="javascript:void(0);" class="btn-open btn-intro" data-class="intro"></a>
						<a href="javascript:void(0);" class="btn-open btn-tutor" data-class="tutor"></a>
					</div>
					<div class="planet planet-3">
						<img src="/static/css/invitation/planet/3.png">
					</div>
					<div class="planet planet-4">
						<img src="/static/css/invitation/planet/4.png">
					</div>					
					<div class="planet planet-5">
						<!-- <img src="/static/css/invitation/planet/5.png"> -->
						<a href="javascript:void(0);" class="btn-open btn-team" data-class="team"></a>
						<a href="javascript:void(0);" class="btn-open btn-data" data-class="data"></a>

					</div>
				</div>				
			</div>			
		</div>
		<div class="t-track">
			<div class="track-inner">
				<div class="mark"></div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="http://morry.oss-cn-beijing.aliyuncs.com/tieba/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="http://morry.oss-cn-beijing.aliyuncs.com/tieba/js/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="http://morry.oss-cn-beijing.aliyuncs.com/tieba/js/touch.js"></script>	
	<!-- 函数库 -->
	<script type="text/javascript" src="/static/js/invitation/math.js"></script>
	<!-- 工具库 -->
	<script type="text/javascript" src="/static/js/invitation/utils.js"></script>
	<!-- 设备检测 -->
	<script type="text/javascript" src="/static/js/invitation/device.js"></script>
	<!-- 陀螺仪 -->
	<script type="text/javascript" src="/static/js/invitation/motion.js"></script>

	<script type="text/javascript" src="/static/js/invitation/main.js"></script>
</body>
</html>
