<html>
<head>
	<title>贴吧合伙人商业挑战赛邀请函</title>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
	<meta name="format-detection" content="telephone=no,address=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="/static/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/invitation/icon.css">
	<link rel="stylesheet" type="text/css" href="/static/css/invitation/process.css?v=1.1">
	<link rel="stylesheet" type="text/css" href="/static/css/weekly/time.css">
	<link rel="stylesheet" type="text/css" href="/static/css/invitation/invitation2.css?v=1.6">
</head>
<body>
	<!-- <img src="/static/css/invitation/cover/cover.png" style="height:0"> -->
	<div class="swiper-container" id="main">
	    <div class="swiper-wrapper">
	    	<!-- 封面 -->
	        <div class="swiper-slide cover" id="p1">
				<div class="metro metro1"></div>
				<div class="metro metro2"></div>
				<div class="metro metro3"></div>

				<img class="cover-logo" src="/static/css/invitation/cover/logo2.png">
				<img class="cover-arrow" src="/static/css/invitation/cover/arrow2.png">
				<div id="circle-open">
					<div class="cover-circle">
						<div class="square" style="top:-4px;left:50%;margin-left:-4px;"></div>
						<div class="square" style="top:50%;right:-4px;"></div>
						<div class="square" style="bottom:-4px;left:50%;margin-left:-4px;"></div>
						<div class="square" style="top:50%;left:-4px;"></div>
					</div>
				</div>
				<img class="cover-slide" src="/static/css/invitation/cover/slide2.png">
				<div class="cover-text-wrapper">
					<img src="/static/css/invitation/cover/text.png">
				</div>
	        </div>
	        <!-- 大赛介绍        -->
	        <div class="swiper-slide m1" id="p2">
				<img class="invitation-planet1" src="/static/css/invitation/content/planet/material-one.png">
			    <img class="img-content" style="width:75%;margin-top:60%" src="/static/css/invitation/content/intro_invi2.png">
			    <img class="slide-arrow" src="/static/css/invitation/content/arrow.png">
	        </div>	 
	        <!-- 典礼流程 -->
	        <div class="swiper-slide m1" id="p6">					
	        	<img class="intro-invitation" src="/static/css/invitation/content/invitation/content2.png">
				<div class="invitation-process">
					<div class="invitation-process-line">
						<i class="i-line i-line1"></i>
						<i class="i-line i-line2"></i>
						<i class="i-line i-line3"></i>
						<i class="i-line i-line4"></i>
						<i class="i-line i-line5"></i>
						<i class="i-line i-line6"></i>
						<i class="i-line i-line7"></i>
						<i class="i-line i-line8"></i>
					</div>
					<div class="process-text">
						<i class="i-text i-text1"></i>
						<i class="i-text i-text2"></i>
						<i class="i-text i-text3"></i>
						<i class="i-text i-text4"></i>
						<i class="i-text i-text5"></i>
						<i class="i-text i-text6"></i>
						<i class="i-text i-text7"></i>
						<i class="i-text i-text8"></i>
						<i class="i-text i-text9"></i>
					</div>	
					<div class="process-dot">
						<i class="i-dot i-dot0"></i>
						<i class="i-dot i-dot1"></i>						
						<i class="i-dot i-dot2"></i>
						<i class="i-dot i-dot3"></i>
						<i class="i-dot i-dot4"></i>
						<i class="i-dot i-dot5"></i>
						<i class="i-dot i-dot6"></i>
						<i class="i-dot i-dot7"></i>
						<i class="i-dot i-dot8"></i>

					</div>					
				</div>
	        </div>	        
	        <!-- 导师介绍            	 -->
	        <div class="swiper-slide m1" id="p3">
				<img class="content-planet" src="/static/css/invitation/planet/simple/tutor.png">
				<div id="tutor-content" class="tutor-content-slide swiper-container">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide">
			            	<img class="tutor-img" src="/static/css/invitation/content/tutor/2_1.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="tutor-img" src="/static/css/invitation/content/tutor/2_3.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="tutor-img" src="/static/css/invitation/content/tutor/2_2.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="tutor-img" src="/static/css/invitation/content/tutor/2_4.png">
			            </div>
			        </div>
			        <img class="tutor-prev-btn left-arrow" src="/static/css/invitation/content/left_arrow.png">
			        <img class="tutor-next-btn right-arrow" src="/static/css/invitation/content/right_arrow.png">

			    	<div class="swiper-pagination swiper-pagination-tutor"></div>
			    </div>
			    <img class="slide-arrow" src="/static/css/invitation/content/arrow.png">	        	
	        </div>
	        <!-- 队伍介绍 -->
	        <div class="swiper-slide m1" id="p4">
				<img class="content-planet" src="/static/css/invitation/planet/simple/team.png">
				<div id="team-content" class="team-content-slide swiper-container">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide">
			            	<img class="team-img" src="/static/css/invitation/content/team/1.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="team-img" src="/static/css/invitation/content/team/2.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="team-img" src="/static/css/invitation/content/team/3.png">
			            </div>
			            <div class="swiper-slide">
			            	<img class="team-img" src="/static/css/invitation/content/team/4.png">
			            </div>
			        </div>
			        <div class="swiper-pagination swiper-pagination-team"></div>
			    </div>
			    <img class="team-prev-btn left-arrow" src="/static/css/invitation/content/left_arrow.png">
			    <img class="team-next-btn right-arrow" src="/static/css/invitation/content/right_arrow.png">
			    <img class="slide-arrow" src="/static/css/invitation/content/arrow.png">
	        </div>
	
	        <!-- 不能亲临 -->
	        <div class="swiper-slide m1" id="p7"> 
	        	<img src="/static/css/invitation/content/contact/text.png" style="width: 62%;position: absolute;top: 70px;left: 50%;margin-left: -31%;">
	        	<a href="http://tieba.baidu.com/f?kw=贴吧合伙人&fr=wwwt"><img style="width: 52%;position: absolute;bottom: 150px;left: 50%;margin-left: -26%;" src="/static/css/invitation/content/contact/btn.png"></a>
	        	<img style="width: 66%;position: absolute; bottom: 100px;left: 50%;margin-left: -33%;" src="/static/css/invitation/content/contact/email.png">
	        </div>
	    </div>
	</div>
	<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/static/js/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/touch.js"></script>	
	<script type="text/javascript" src="/static/js/invitation/invitation.js?v=1.6"></script>
	<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
		wx.config({
		    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		    appId: 'wxfb2f5ab1e2f95ee5', // 必填，公众号的唯一标识
		    timestamp: '{{ jsticket.timestamp }}', // 必填，生成签名的时间戳
		    nonceStr: '{{ jsticket.nonceStr }}', // 必填，生成签名的随机串
		    signature: '{{ sig }}',// 必填，签名，见附录1
		    jsApiList: ['onMenuShareAppMessage', 'onMenuShareTimeline'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
		});
		wx.ready(function () {
			wx.onMenuShareAppMessage({		    
				title: '贴吧合伙人挑战赛颁奖盛典邀请函', // 分享标题
			    link: 'http://ssld-vi.com/tieba/invitation2', // 分享链接		
			    imgUrl: 'http://morry.oss-cn-beijing.aliyuncs.com/tieba/images/cover22.png' ,  
			    desc: '2015年最贵的撕哔，邀你见证贴吧营销新领袖诞生',
			    success: function () { 
			        // 用户确认分享后执行的回调函数
			    },
			    cancel: function () { 
			        // 用户取消分享后执行的回调函数
			    }
			});
		    wx.onMenuShareTimeline({
		        title: '贴吧合伙人挑战赛颁奖盛典邀请函', // 分享标题
		        desc: '',
		        link: 'http://ssld-vi.com/tieba/invitation2', // 分享链接
		        imgUrl: 'http://morry.oss-cn-beijing.aliyuncs.com/tieba/images/cover22.png', // 分享图标
		    });
		});		
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48160253-6', 'auto');
	  ga('send', 'pageview');

	</script>	
</body>
</html>

