<html>
<head>
	<title>贴吧合伙人商业挑战赛邀请函</title>
	<meta charset="utf-8">
	<meta http-equiv="Cache-Control" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	<meta name="format-detection" content="telephone=no,address=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" type="text/css" href="http://morry.oss-cn-beijing.aliyuncs.com/tieba/css/swiper.min.css">

</head>
<body>
		<div style="position:absolute;overflow:hidden;left:0;top:0;right:0;bottom:0">
					<div id="team-content" class="team-content-slide swiper-container">
				        <div class="swiper-wrapper">
				            <div class="swiper-slide">
				            	<img class="team-img" src="/static/css/invitation/content/team/1.png">
				            </div>
				            <div class="swiper-slide">
				            	<img class="team-img" src="/static/css/invitation/content/team/2.png">
				            </div>
				            <div class="swiper-slide">
				            	<img class="team-img" src="/static/css/invitation/content/team/3.png">
				            </div>
				            <div class="swiper-slide">
				            	<img class="team-img" src="/static/css/invitation/content/team/4.png">
				            </div>
				        </div>
				    	<div class="swiper-pagination"></div>
				    </div>
</div>
	<script type="text/javascript" src="http://morry.oss-cn-beijing.aliyuncs.com/tieba/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="http://morry.oss-cn-beijing.aliyuncs.com/tieba/js/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="http://morry.oss-cn-beijing.aliyuncs.com/tieba/js/touch.js"></script>	

	<script type="text/javascript">
	    var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationClickable: '.swiper-pagination',
	        nextButton: '.swiper-button-next',
	        prevButton: '.swiper-button-prev',
	        spaceBetween: 30
	    });


	</script>
</body>
</html>
