<html>
<head>
	<title>贴吧合伙人商业挑战赛</title>
	<meta charset="utf-8">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/static/css/basic/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/page/tab2.css?v=1.1">
</head>
<body>
	<div class="body tab3">	
		<div class="edu-ba tab3-ba-wrapper">
			<div class="single-ba">
				<p><i class="ba-circle ba-1-1"></i><span data-id="1" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.0.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-1-2"></i><span data-id="2" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.1.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-1-3"></i><span data-id="3" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.2.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-1-4"></i><span data-id="4" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.3.votes 1 10 %}</span></p>			
			</div>
			<p class="bas-total-wrapper">
				<i class="bas-total bas-total-1"></i><span class="bas-total-number" style="color:#24728f">{{ba_total_votes.0}}</span>
			</p>
		</div>

		<div class="bus-ba tab3-ba-wrapper">
			<div class="single-ba">
				<p><i class="ba-circle ba-2-1"></i><span data-id="5" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.4.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-2-2"></i><span data-id="6" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.5.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-2-3"></i><span data-id="7" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.6.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-2-4"></i><span data-id="8" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.7.votes 1 10 %}</span></p>			
			</div>
			<p class="bas-total-wrapper">
				<i class="bas-total bas-total-2"></i><span class="bas-total-number" style="color:#44ab7b">{{ba_total_votes.1}}</span>
			</p>
		</div>

		<div class="moth-ba tab3-ba-wrapper">
			<div class="single-ba">
				<p><i class="ba-circle ba-3-1"></i><span data-id="9" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.8.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-3-2"></i><span data-id="10" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.9.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-3-3"></i><span data-id="11" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.10.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-3-4"></i><span data-id="12" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.11.votes 1 10 %}</span></p>			
			</div>
			<p class="bas-total-wrapper">
				<i class="bas-total bas-total-3"></i><span class="bas-total-number" style="color:#e56925">{{ba_total_votes.2}}</span>
			</p>
		</div>
		<div class="modi-ba tab3-ba-wrapper">
			<div class="single-ba">
				<p><i class="ba-circle ba-4-1"></i><span data-id="13" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.12.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-4-2"></i><span data-id="14" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.13.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-4-3"></i><span data-id="15" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.14.votes 1 10 %}</span></p>
			</div>
			<div class="single-ba">
				<p><i class="ba-circle ba-4-4"></i><span data-id="16" class="invist-btn"></span></p>
				<p class="ba-total-wrapper"><i class="ba-total"></i><span class="ba-total-number">{% widthratio tieba_list.15.votes 1 10 %}</span></p>			
			</div>
			<p class="bas-total-wrapper">
				<i class="bas-total bas-total-4"></i><span class="bas-total-number" style="color:#e75992">{{ba_total_votes.3}}</span>
			</p>
		</div>

	</div>
	<img class="mask" src="http://morry.oss-cn-beijing.aliyuncs.com/tieba/images/tab3-mask.png">
	<script type="text/javascript" src="http://morry.oss-cn-beijing.aliyuncs.com/tieba/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript">
		$(".invist-btn").bind('click', function() {
		  	var jQself = $(this);
			var jQtotalVotes = jQself.closest(".single-ba").find(".ba-total-number");
			var jQalltotalVotes = jQself.closest(".tab3-ba-wrapper").find(".bas-total-number");
			var tiebaId	= jQself.data("id");
			$.post('/tieba/vote', {
				tiebaId: tiebaId
			}, function(ret){
				if(ret.code == 0){
					var votes = ret.votes;
					var totalVotes = parseInt(jQalltotalVotes.text()) + 10;
					jQtotalVotes.text(votes);
					jQalltotalVotes.text(totalVotes);	
					alert("投资成功");
				}else{
					alert(ret.msg)
				}
			})
		})
	</script>
</body>
</html>